.scrollable-side-menu {
    max-height: 100vh; /* Adjust as needed to fit your layout */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: clip;
    padding-left: 14px;
    padding-top: 40px;
  }
  